.card-containers{
    border: 1px solid black;
    width: 505px;
    margin: 20px;
    align-items: center;
    padding: 1rem;
    background-color: aliceblue;
}

.imageUrls img{
    width: 504px;
}

.attached{
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container :hover{
    background-color: #ffcfd1;
    cursor: pointer;
}